node_modules/
documents/
db.sqlite3
*.pyc
src/db.sqlite3
*.pyc 
src/db/*/*/*/*/*
src/db/*/*/*/*
src/db/*/*/*
src/db/*/*
src/db/*


#src/VotingTask.log

src/expdeploy/gpaas/migrations/*
src/expdeploy/api/migrations/*
src/expdeploy/gpaas/experimentfiles/*





private_settings.py


src/db/gpaasdb/base/1/3080
