node_modules/
documents/
db.sqlite3
*.pyc
src/db.sqlite3
*.pyc 

src/expdeploy/testapp/webfiles/index.html
#ignore templates except for those created by us
src/expdeploy/testapp/templates/*
!src/expdeploy/testapp/templates/uploadpage.html
!src/expdeploy/testapp/templates/createuser.html
!src/expdeploy/testapp/templates/userprofile.html
!src/expdeploy/testapp/templates/login.html
!src/expdeploy/testapp/templates/profileerror.html
!src/expdeploy/testapp/templates/loginerror.html
!src/expdeploy/testapp/templates/createaccounterror.html


