<html>
<head>
	<title> test upload </title>
</head>

<body>

	{% if current_user %}
        <p> Currently logged in: {{user}} </p>
    {% else %}
        <p> No user is currently logged in </p>
    {% endif %}

	<!-- create user form -->
    <p> Username must contain fewer than 120 characters and no spaces. E-mail must be at a .edu address. </p>
	<form action="/testapp/createuser/" method="post" enctype="multipart/form-data">
            
            {% csrf_token %}
            {{ userform.as_p}}

            <p><input type="submit" value="Submit"/></p>
    </form>


    <br></br>

    {% if current_user %}
        <form action="/testapp/logout/" method="post" enctype="multipart/form-data">
            <p><input type="submit" value ="logout"></p>
        </form>
    {% endif %}
</body>

</html>