#message-start, #message-done {
  position:absolute;
  top: 20px;
  width: 60%;
  height: 80%;
  left: 15%;
  border: 5px solid grey;
  padding: 10px;
  background: white;
}

#message-done {
  display: none;
}

body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
}

. {
  font-size: 20pt;
}

#container, #container2 {
  padding: 5px;
}

input {
  font-size: 15pt;
  border: 1px solid black;
  padding-left: 5px;
}

button {
  font-size: 12pt;
  padding: 15px;
  height: 70px;
  color: black;
  margin-top: 5px;
  -webkit-appearance: none;
  background: white;
}
