<html>
  <head>
    {% load lookup %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/jstat/1.5.2/jstat.min.js"></script>-->
    <script src="./d3.v3.min.js"></script>
    <script src="./seedrandom.min.js"></script>
    <script src="./underscore.js"></script>
    <link rel="stylesheet" href="main.css" />

<style>
{% lookup testfiles "main.css" %}
</style>


  </head>
  <body>
    <h3 id="info" >&nbsp;</h3>
    <div id="container" ></div>
    <div id="container2" ></div>
    <div style="padding-left: 30px;"><button id="submit">Submit</button></div>
    <script src="./params.js"></script>
    <script src="./util.js"></script>
    <script src="./api.js"></script>
    <script src="./experiment1.js"></script>

    <div id="message-start">

      <p>In these tasks, you will be presented with a <a href="http://en.wikipedia.org/wiki/Bar_chart" target="_blank">bar chart</a>
         containing between 1 and 15 bars.   You must perform the following task: </p>

      <p><b>Estimate the height of each bar in the chart as a percentage of the total chart height</b>.</p>

      <p>The chart will be shown for a limited amount of time.  Once the time has expired the chart will be hidden.</p>

      <p>You should make a quick visual judgment and not try to make precise measurements, either mentally or with a physical object such as a pencil or your finger. A variety of different charts will be shown. Valid answers range from 0% to 100%, though in practice you shouldn't see values less than 5% or greater than 95%.</p>

      <p>You will receive a $0.05 reward for each task completed. You can keep track of your accumulated reward in the blue "Current Reward" box. After completing all of the tasks, you will receive a $1.00 completion bonus reward. You <b>must</b> complete all the tasks to receive the completion bonus. If you do not wish to complete all the tasks, you can press the "Finish and claim current reward" button to exit this HIT and be paid your accumulated reward. You will only be paid once you complete all the tasks or click the finish button.</p>

      <p>The results of these tasks will be used for a research study on visual perception. You may view our <a href="../policy/" target="_blank">privacy policy</a> for more information.</p>
      <button id="closebtn"> I have read the instructions. </button>
    </div>

    <div id="message-done">
      <p><b>You are done with ALL tasks</b>.</p>
      <p><it>Now what?</it>.</p>
    </div>


  </body>
</html>


<style>
</style>

<script>
    {% autoescape off %}

      {% lookup testfiles "d3.v3.min.js" %}
      {% lookup testfiles "seedrandom.min.js" %}
      {% lookup testfiles "underscore.js" %}
      {% lookup testfiles "params.js" %}
      {% lookup testfiles "util.js" %}
       {% lookup testfiles "params.js" %}
       {% lookup testfiles "api.js" %}

      {% lookup testfiles "util.js" %}
      {% lookup testfiles "experiment1.js" %}
    {% endautoescape %}
</script>




