<html>
<head>
	<title> Create Experiment </title>
    {% load staticfiles %}
    <link href="{% static 'bootstrap/css/bootstrap-augmented.min.css' %}" rel="stylesheet" />
    <link href="{% static 'stylesheet.css' %}" rel="stylesheet" type="text/css"/>
</head>

<body>
    
    <div id="page-header">
        <div class="gpaas-logo">
            <img src="{% static 'images/logo.png' %}" class="top-buffer" style="width:425px;height:133px;"/>
            <div id="logout-button">
                {% if username %}
                    <form action="/gpaas/logout/" method="GET">
                            <p><input type="submit" class="btn btn-default" value="Logout"/></p>
                    </form>
                {% else %}
                    <form action="/gpaas/login/" method="GET">
                            <p><input type="submit" class="btn btn-default" value="Login"/></p>
                    </form>
                {% endif %}
            </div> <!-- logout button -->
            
            {% if username %}
                <div id="view-profile-button">
                    <div id="profile-user">
                    <h3>{{username}}<h3>
                    </div> <!-- profile user -->    
                    <form action="/gpaas/profile/" method="post" enctype="    multipart/form-data">
                        <input type="submit" class="btn btn-default" value ="View Profile">
                    </form>
                </div>
            {% endif %}  
        </div>           
    </div>



    <div class="tab-space">
        {% if duplicate %}
            <div style="margin-left: 11%; margin-right: 30%; margin-bottom:30px">

                <p> <h2>Error:</h2><h3> The experiment you attempted to create shares a name with an existing experiment. Please try again using a different name, or edit the experiment which already exists.</p></h3>
            </div>
        {% endif %} 
        <div id="experiment-header-center">
            <b><h1> Create New Experiment </h1> </b>
        </div>
        <div class="box box-center">
            <p> Note: experiment names may use any alphanumeric/special characters. They must be fewer than 120 characters and contain no spaces.</p>
            <p> Need decription for Hit values, sandbox and n. </p>
            <p> Files can be uploaded after experiment creation on Edit Experiment page. </p>
            <p> The Per task payment and Bonus Payment options below are in <b>USD</b> demoninations. </p>
        	<!-- upload form -->
        	<form action="/gpaas/createexperiment/" method="post" enctype="multipart/form-data">
                    
                {% csrf_token %}
                {{ experimentform.as_p}}

                <p><input type="submit" class="btn btn-by top-buffer" value="Create Experiment"/></p>
            </form>

        </div>
    </div>
</body>

</html>