<html>
<head>
	<title> Create User </title>
    {% load staticfiles %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'stylesheet.css' %}" rel="stylesheet" type="text/css"/>
</head>

<body>

	 <div class="page-header">
        <div id="current-user">
        {% if current_user %}
            <p> Currently logged in: {{user}} </p>
            <div id="view-profile">
                <form action="/gpaas/userprofile/" method="post" enctype="    multipart/form-data">
                    <p><input type="submit" class="btn btn-default" value ="View Profile"></p>
                </form>
            </div>
        {% else %}
            <p> No user is currently logged in </p>
            <form action="/gpaas/error/" method="POST">
            <p><input type="submit" class="btn btn-default" value="Back to login"/></p>
    </form>
        {% endif %}
        </div>


        <div id="logout-button">
        {% if current_user %}
            <form action="/gpaas/logout/" method="post" enctype="multipart/form-data">
                <p><input type="submit" class="btn btn-default" value ="Logout"></p>
            </form>
        {% endif %}
        </div>

    </div>

    <div id="form-box">
    	<!-- create user form -->
        <p> Username must contain fewer than 120 characters and no spaces. E-mail must be at a .edu address. </p>
        <p> Creating an account while logged in will log you out! </p>
    	<form action="/gpaas/createuser/" method="post" enctype="multipart/form-data">
                
                {% csrf_token %}
                {{ userform.as_p}}

                <p><input type="submit" value="Submit"/></p>
        </form>
    </div>

    <br></br>

</body>

</html>