<html>
<head>
    <title> login </title>
    {% load staticfiles %}
    <link href="{% static 'bootstrap/css/bootstrap-augmented.min.css' %}" rel="stylesheet" />
    <link href="{% static 'stylesheet.css' %}" rel="stylesheet" type="text/css"/>


</head>

<body>
    <div id="page-header">
        <div id="current-user">
        {% if current_user %}
            <p> Currently logged in: {{user}} </p>
            <div id="view-profile">
                <form action="/gpaas/profile/" method="post" enctype="    multipart/form-data">
                    <p><input type="submit" class="btn btn-default" value ="View Profile"></p>
                </form>
            </div>
        {% else %}
            <p> No user is currently logged in </p>
        {% endif %}
        </div>

        <div id="logout-button">
        {% if current_user %}
            <form action="/gpaas/logout/" method="post" enctype="multipart/form-data">
                <p><input type="submit" class="btn btn-default" value ="Logout"></p>
            </form>
        {% endif %}
        </div>
    </div>
    
    <div class ="form-box">
        {% if mismatch %}
            <p> The username and password provided do not match an existing account </p>
        {% endif %}
        {% if profileerror %}
            <p> You must be logged in to view your profile. </p>
        {% endif %}

        <!-- login form -->
        <form action="/gpaas/login/" method="POST" enctype="multipart/form-data">
                
                {% csrf_token %}
                {{ loginform.as_p}}

                <p><input type="submit" class="btn btn-by" value="Login"/></p>
        </form>
    </div>

    <div class="tab-space top-buffer">
    <a href="/gpaas/createuser/">
        Don't have an account? Create one here.
    </a>
    </div>



</body>

</html>