<html>
<head>
    <title> login </title>
    {% load staticfiles %}
    <link href="{% static 'bootstrap/css/bootstrap-augmented.min.css' %}" rel="stylesheet" />
    <link href="{% static 'stylesheet.css' %}" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div id="page-header">
        <div class="gpaas-logo">
            <img src="{% static 'images/logo.png' %}" class="top-buffer" style="width:425px;height:133px;"/>
            <div id="logout-button">
                {% if current_user %}
                    <form action="/gpaas/logout/" method="GET">
                            <p><input type="submit" class="btn btn-default" value="Logout"/></p>
                    </form>
                {% else %}
                    <form action="/gpaas/login/" method="GET">
                            <p><input type="submit" class="btn btn-default" value="Login"/></p>
                    </form>
                {% endif %}
            </div> <!-- logout button -->
            
            {% if current_user %}
                <div id="view-profile-button">
                    <div id="profile-user">
                    <h3>{{current_user}}<h3>
                    </div> <!-- profile user -->    
                    <form action="/gpaas/profile/" method="post" enctype="    multipart/form-data">
                        <input type="submit" class="btn btn-default" value ="View Profile">
                    </form>
                </div>
            {% endif %}  
        </div>           
    </div>

    
    <div class ="form-box-login centered">
        {% if mismatch %}
            <p> The username and password provided do not match an existing account </p>
        {% endif %}
        {% if profileerror %}
            <p> You must be logged in to view your profile. </p>
        {% endif %}

        <!-- login form -->
        <form action="/gpaas/login/" method="POST" enctype="multipart/form-data">
                
                {% csrf_token %}
                {{ loginform.as_p}}

                <p><input type="submit" class="btn btn-by" value="Login"/></p>
        </form>
        <div class="top-buffer">
            <a href="/gpaas/createuser/">
                Don't have an account? Create one here.
            </a>
        </div>
    </div>
</body>
</html>