
<html>
<head>
    <title> Oh no!</title>
    {% load staticfiles %}
    <link href="{% static 'bootstrap/css/bootstrap-augmented.min.css' %}" rel="stylesheet" />
    <link href="{% static 'stylesheet.css' %}" rel="stylesheet" type="text/css"/>
</head>

<body>

	<div id="page-header">
        <div id="current-user">
            <p><h3> {{user}} </h3></p>
        </div>

        <div id="logout-button">
        {% if current_user %}
            <form action="/gpaas/logout/" method="post" enctype="multipart/form-data">
                <p><input type="submit" class="btn btn-default" value ="Logout"></p>
            </form>
        {% endif %}
        </div>

    </div>

    <div class ="form-box">
    	<p> Sorry, this experiment does not have an index.html file associated with it. </p>
        <p> You can add files to each experiment in the edit section of your profile. </p>
		<form action="/gpaas/profile/" method="get">
            <p><input type="submit" class ="btn btn-by" value="Profile"/></p>
    	</form>
    </div>


</body>

</html>