<html>
<head>
	<title> File Upload </title>
    {% load staticfiles %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'stylesheet.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'dropzone.css' %}" type="text/css" rel="stylesheet"/>
</head>

<body>
    
    <div class="page-header">
        <div id="profile-user">

            <p> {{user}} </p>
            <div id="view-profile">
                <form action="/gpaas/userprofile/" method="post" enctype="    multipart/form-data">
                    <p><input type="submit" value ="View Profile"></p>
                </form>
            </div>
        
        </div>

        <div id="logout-button">
    
            <form action="/gpaas/logout/" method="post" enctype="multipart/form-data">
                <p><input type="submit" value ="Logout"></p>
            </form>
       
        </div>

    </div>

    <div id = "margin-left">
    <div id = "form-box">
    {% for experiment, files in filedict.items %}
    <!-- {% load lookup %} -->
            <li> <strong> {{experiment}} </strong> 
            <!-- link experiment -->
                <p> &nbsp;&nbsp;&nbsp;&nbsp; Link:
                <a href = "{% explink linkdict experiment %}"> {% explink linkdict experiment %} </a> </p>
                <ul>
                {% for file in files %}
                    <li> {{file.original_filename}} </li>
                        <ul>
                            <li>raw: <a href="{{ file.docfile.url }}">{{file.docfile}}</a></li>
                        </ul>
                {% endfor %}
                </ul>
            </li>
    {% endfor %}
    </div></div>

    <div id="margin-left">
    <div id="form-box">

        <p><h2> Upload Files </h2></p>
        <p> The homepage must be "index.html". </p>
    	<!-- upload form -->
    	<form class = "dropzone" name="attachments" action="{{thisurl}}" method="post" enctype="multipart/form-data">
                
            {% csrf_token %}
            <p><input type="submit" value="Upload"/></p>
        </form>
        
 
        <script src="{% static 'dropzone.js' %}"></script>

    </div>
    </div>
</body>

</html>