<html>
<head>
	<title> test upload </title>
    {% load staticfiles %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'stylesheet.css' %}" rel="stylesheet" type="text/css"/>
</head>

<body>
    
    <div class="page-header">
        <div id="profile-user">

            <p> {{user}} </p>
            <div id="view-profile">
                <form action="/gpaas/userprofile/" method="post" enctype="    multipart/form-data">
                    <p><input type="submit" value ="View Profile"></p>
                </form>
            </div>
        
        </div>

        <div id="logout-button">
    
            <form action="/gpaas/logout/" method="post" enctype="multipart/form-data">
                <p><input type="submit" value ="Logout"></p>
            </form>
       
        </div>

    </div>

    <div id="margin-left">
    <div id="form-box">
        <p><h2> Upload experiment </h2></p>
        <p> Note: experiment names may use any alphanumeric/special characters. They must be fewer than 120 characters and contain no spaces. The homepage must be "index.html". </p>
    	<!-- upload form -->
    	<form action="//upload/" method="post" enctype="multipart/form-data">
                
            {% csrf_token %}
            {{ uploadform.as_p}}

            <p><input type="submit" value="Upload"/></p>
        </form>

    </div>
    </div>
</body>

</html>