<html>
<head>
	<title> Edit Experiment </title>
    {% load staticfiles %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'stylesheet2.css' %}" rel="stylesheet" type="text/css"/>
</head>

<body>
    
    <div class="page-header">
        <div id="current-user">

            <p> {{user}} </p>
            <div id="view-profile">
                <form action="/gpaas/userprofile/" method="post" enctype="    multipart/form-data">
                    <p><input type="submit" class="btn btn-default" value ="View Profile"></p>
                </form>
            </div>
        
        </div>

        <div id="logout-button">
    
            <form action="/gpaas/logout/" method="post" enctype="multipart/form-data">
                <p><input type="submit" class="btn btn-default" value ="Logout"></p>
            </form>
       
        </div>

    </div>

    <div id = "margin-left">
    <div id = "form-box">
    {% for experiment, files in filedict.items %}
    <!-- {% load lookup %} -->
            <li> <h2><strong> {{experiment}} </strong> </h2>
            <!-- link experiment -->
                <p style="padding-left: .5cm"> Link:
                <!-- <a href = "{% explink linkdict experiment %}"> {% explink linkdict experiment %} </a> </p> -->
                <a href = "{{ experiment_link }}"> {{ experiment_link }} </a> </p>
                <ul>
                {% for file in files %}
                    <li> {{file.original_filename}} </li>
                        <ul>
                            <li>raw: <a href="{{ file.docfile.url }}">{{file.docfile}}</a></li>
                        </ul>
                {% endfor %}
                </ul>
            </li>
    {% endfor %}
    </div></div>


    <div id="margin-left">
    <div id="form-box">
        <p><h2> Upload files </h2></p>
        <p>  The homepage must be "index.html". </p>
    	<!-- upload form -->
    	<form action="{{thisurl}}" method="post" enctype="multipart/form-data" >
                
            {% csrf_token %}
            {{ uploadform.as_p}}

            <p><input type="submit" class="btn btn-default" value="Upload"/></p>
        </form>
    </div>
    </div>


    <div id="margin-left">
    <div id="form-box">
        <form action="{{hit_description_url}}" method="post" enctype="multipart/form-data">
                
            {% csrf_token %}
            {{ hit_description_form.as_p }}

            <p style="padding-left: .72cm"><input type="submit" class="btn btn-default" value="Update Hit Description"/></p>
        </form>
        <br></br>

        <form action="{{hit_payment_url}}" method="post" enctype="multipart/form-data">
                
            {% csrf_token %}
            {{ hit_payment_form.as_p }}

            <p style="padding-left: .72cm"><input type="submit" class="btn btn-default" value="Update Hit Payment"/></p>
        </form>
        <br></br>

        <form action="{{hit_keywords_url}}" method="post" enctype="multipart/form-data">
                
            {% csrf_token %}
            {{ hit_keywords_form.as_p }}

            <p style="padding-left: .72cm"><input type="submit" class="btn btn-default" value="Update Hit Keywords"/></p>
        </form>
        <br></br>

        <form action="{{sandbox_url}}" method="post" enctype="multipart/form-data">
                
            {% csrf_token %}
            {{ sandbox_form.as_p }}

            <p style="padding-left: .72cm"><input type="submit" class="btn btn-default" value="Update Sandbox Status"/></p>
        </form>
        <br></br>
        
        <!-- form -->
        <form action="{{tasknumber_url}}" method="post" enctype="multipart/form-data">
                
            {% csrf_token %}
            {{ tasknumber_form.as_p }}

            <p style="padding-left: .72cm"><input type="submit" class="btn btn-default" value="Update Tasknumber"/></p>
        </form>

    </div>
    </div>
    <br></br>


</body>
</html>