<html>
<head>
	<title> test upload </title>
    {% load staticfiles %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'stylesheet.css' %}" rel="stylesheet" type="text/css"/>
</head>

<body>
    
    <div class="page-header">
        <div id="profile-user">

            <p> {{user}} </p>
            <div id="view-profile">
                <form action="/gpaas/userprofile/" method="post" enctype="    multipart/form-data">
                    <p><input type="submit" value ="View Profile"></p>
                </form>
            </div>
        
        </div>

        <div id="logout-button">
    
            <form action="/gpaas/logout/" method="post" enctype="multipart/form-data">
                <p><input type="submit" value ="Logout"></p>
            </form>
       
        </div>

    </div>

    <div id = "margin-left">
    <div id = "form-box">
    {% for experiment, files in filedict.items %}
    <!-- {% load lookup %} -->
            <li> <strong> {{experiment}} </strong> 
            <!-- link experiment -->
                <p> &nbsp;&nbsp;&nbsp;&nbsp; Link:
                <a href = "{% explink linkdict experiment %}"> {% explink linkdict experiment %} </a> </p>
                <ul>
                {% for file in files %}
                    <li> {{file.original_filename}} </li>
                        <ul>
                            <li>raw: <a href="{{ file.docfile.url }}">{{file.docfile}}</a></li>
                        </ul>
                {% endfor %}
                </ul>
            </li>
    {% endfor %}
    </div></div>


    <div id="margin-left">
    <div id="form-box">
        <p><h2> Upload files </h2></p>
        <p>  The homepage must be "index.html". </p>
    	<!-- upload form -->
    	<form action="{{thisurl}}" method="post" enctype="multipart/form-data">
                
            {% csrf_token %}
            {{ uploadform.as_p}}

            <p><input type="submit" value="Upload"/></p>
        </form>
    </div>
    </div>


    <div id="margin-left">
    <div id="form-box">
        <p><h4> Edit Hit Description </h4></p>
        <form action="{{hit_description_url}}" method="post" enctype="multipart/form-data">
                
            {% csrf_token %}
            {{ hit_description_form }}

            <p><input type="submit" value="Update Hit Description"/></p>
        </form>

        <p><h4> Edit Hit Payment </h4></p>
        <form action="{{hit_payment_url}}" method="post" enctype="multipart/form-data">
                
            {% csrf_token %}
            {{ hit_payment_form }}

            <p><input type="submit" value="Update Hit Payment"/></p>
        </form>

        <p><h4> Edit Hit Keywords </h4></p>
        <form action="{{hit_keywords_url}}" method="post" enctype="multipart/form-data">
                
            {% csrf_token %}
            {{ hit_keywords_form }}

            <p><input type="submit" value="Update Hit Keywords"/></p>
        </form>

        <p><h4> Sandbox </h4></p>
        <form action="{{sandbox_url}}" method="post" enctype="multipart/form-data">
                
            {% csrf_token %}
            {{ sandbox_form }}

            <p><input type="submit" value="Update Sandbox Status"/></p>
        </form>

        <p><h4> Edit Number of Tasks </h4></p>
        <!-- form -->
        <form action="{{tasknumber_url}}" method="post" enctype="multipart/form-data">
                
            {% csrf_token %}
            {{ tasknumber_form }}

            <p><input type="submit" value="Update Tasknumber"/></p>
        </form>

    </div>
    </div>


</body>
</html>