<html>
<head> 
	<title> User Profile </title>
	{% load staticfiles %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'stylesheet.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>

	<div class="page-header">
        <div id="profile-user">

            <p> {{username}} </p>
        
        </div>

        <div id="logout-button">
    
        <form action="/gpaas/logout/" method="post" enctype="multipart/form-data">
            <p><input type="submit" value ="Logout"></p>
        </form>
   
        </div>

    </div>

    <div id="form-box">
	<!-- list experiments and experiment files -->
	<b><h2> Experiments</h2> </b>
	<!-- {% load lookup %} -->
		{% for experiment, files in filedict.items %}
			<li> <h3> {{experiment}} </h3> 
			<!-- link experiment -->
				<p> &nbsp;&nbsp;&nbsp;&nbsp; Link:
				<a href = "{% explink linkdict experiment %}"> {% explink linkdict experiment %} </a> </p>
				<ul>
				{% for file in files %}
					<li> {{file.original_filename}} </li>
						<ul>
							<li>raw: <a href="{{ file.docfile.url }}">{{file.docfile}}</a></li>
						</ul>
				{% endfor %}
				</ul>
			</li>

			<!-- Add file form -->
			<form action= "{% explink editdict experiment %}" method="get">
				<input type="submit" value="Edit Experiment"/>
			</form>

			<!-- post to MTurk -->
			<form action="/api/mturk" method="get">

			  <input type="hidden" value="{{experiment}}" name="experiment" id = "bleh" />

			  <input type="hidden" value="{{username}}" name="researcher" id = "bleh2" />

			    <input type="submit" value="Post to MTurk" />
			</form>

		{% endfor %}
	</div>

	<div id="margin-left">
	<!-- create new experiment -->
	<br></br>
    <form action="/gpaas/createexperiment/" method="post" enctype="multipart/form-data">
    	<p><input type="submit" value ="Upload New Experiment"></p>
    </form>
    </div>
	
</body>
</html>