<html>
<head> 
	{% load staticfiles %}
    <link href="{% static 'bootstrap/css/bootstrap-augmented.min.css' %}" rel="stylesheet" />
    <link href="{% static 'stylesheet.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
	<div id="page-header">
        <div class="gpaas-logo">
            <img src="{% static 'images/logo.png' %}" class="top-buffer" style="width:425px;height:133px;"/>
            <div id="logout-button">
                {% if current_user %}
                    <form action="/gpaas/logout/" method="GET">
                            <p><input type="submit" class="btn btn-default" value="Logout"/></p>
                    </form>
                {% else %}
                    <form action="/gpaas/login/" method="GET">
                            <p><input type="submit" class="btn btn-default" value="Login"/></p>
                    </form>
                {% endif %}
            </div> <!-- logout button -->
            
            <div id="view-profile-button">
                <div id="profile-user">
                <h3>{{user}}<h3>
                </div> <!-- profile user -->    
                <form action="/gpaas/profile/" method="post" enctype="    multipart/form-data">
                    <p><input type="submit" class="btn btn-default" value ="View Profile"></p>
                </form>
            </div>
        </div>           
    </div>


    <!-- Do not remove the comment below this one. -->
    <!-- {% load lookup %} -->
    <div class="tab-space-triple top-buffer bottom-buffer">
      <h2><p> {{researcher}}'s Results Page </p></h2>
    </div>

    <!-- Pills for separate experiments -->
    <div class="container">

         <table class="table">
            <thead>
              <tr>
                <th>Experiment</th>
                <th>Name</th>
                <th>Assignment ID</th>
                <th>Worker ID</th>
                <th>Tasks Submitted</th>
                <th>Status</th>
                <th>Payment</th>
              </tr>
            </thead>
            <tbody>
            {% for row in rows  %}
              <tr>
              <td>{{row.task.experiment.name}}</td>
              <td>{{row.task.name}}</td>
                <td>{{row.task.assignmentId}}</td>
                <td>{{row.task.wid}} </td>
                <td>{{row.completed}}/{{row.tasks}}</td>

                 {% if row.waiting %}
                   <td>Waiting</td>
                {% else %}
                     <td>Completed</td>

                {% endif %}
                


                {% if row.task.paid %}
                   <td>Paid</td>
                {% elif not row.waiting %}
                     <td><a href="/api/payout?completed={{row.completed}}&wid={{row.task.wid}}&assigned={{row.tasks}}&assignmentId={{row.task.assignmentId}}&researcher={{row.task.researcher}}&exp={{row.task.experiment.name}}" class="btn btn-default">Pay</a></td>

                {% endif %}
                
              </tr>
         {% endfor %}
            </tbody>
          </table>



        
           
	</div>


		
</body>
</html>