<!DOCTYPE html>
<html>
    <head>
        <title>Gallery</title>
    </head>

    <body>
        <!-- list uploaded images-->
        {% if gallery_images %}
            <ul>
                {% for image in gallery_images %}
                    <img src= {{image.imgfile.url}} width="100" height ="100">
                    <hr></hr>
                {% endfor %}
            </ul>
        {% endif %}

        <!-- upload form -->
        <form action="{% url "gallery" %}" method="post" enctype="multipart/form-data">
            
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
          
            <p>{{ form.imgfile.label_tag }} {{ form.imgfile.help_text }}</p>
            <p>
                <!-- no errors specified -->
                {{ form.imgfile.errors }}
                {{ form.imgfile }}
            </p>

            <p><input type="submit" value="Upload"/></p>
        </form>
        
        
    </body>

</html>
