.page-header{
	margin-top:2%;
	margin-left: 2%;
	margin-right: 2%;
	height:120;
	background-color: #9BDDFF;
	border-radius: 5px;
}

body{
	/*background-color: #ffffcc;*/
	background-color: #ffff9e;
}

#current-user{
	font-family: "Verdana";
	font-size: 20px;
	margin-top: 15;
	float:left;
	margin-left: 20;
}


#experiment-header{
	font-family: "Verdana";
	margin-left: 20%;
    width: 60%;
    padding: 10px;
    margin-bottom:0;
}


#logout-button{
	font-family: "Verdana";
	margin-top: 70;
	font-size:15px;
	float:right;
	margin-right: 30;

}

#form-box{
	font-family: "Verdana";
	margin-left: 20%;
	margin-top: 2;
	margin-bottom:10;
    width: 60%;
    border: 3px solid #9BDDFF;
    padding: 10px;
    margin-bottom:15;
    border-radius: 7.5px;
}

#profile-user{
	font-family: "Verdana";
	font-size: 40px;
	margin-top: 15;
	float:left;
	margin-left: 20;

}

#margin-left{
	font-family: "Verdana";
	margin-left: 15;
}

#margin-left-percentage{
	font-family: "Verdana";
	margin-left: 5%;
}

#double-margin-left{
	font-family: "Verdana";
	margin-left: 30;
}

#view-profile{
	font-family: "Verdana";
	margin-top: 27;
	
	margin-left:5;
	font-size:15px;
}
