<html>
<head>
	<title> test upload </title>
</head>

<body>
	<!--  
	{% if files %}
		{% for file in files %}
		<script>
			// file.filetext
			<a href="{{ file.filetext.url }}">{{ document.filetext}}</a>
		</script>
		{% endfor %}
    {% endif %}
    -->

    {% load lookup %}
    <!-- {% lookup testfiles "testapp/webfiles/hello.js" %} -->
    <p>
    	
    </p>
    <script>
    	{% autoescape off %}

    		{% lookup testfiles "testapp/webfiles/hello.js" %}
    	{% endautoescape %}
    	//{{ testfile | safe}}

	</script>

                
</body>

</html>